<% if current_user %>
  <% if current_user.try(:calculate_profile) < 80 %>
    <div id="root-sub-header">
      <%= link_to 'プロフィール完成度が不十分です。あなたを正しく伝えられるように充実させてみましょう。', edit_user_registration_path(current_user) %>
    </div>
  <% end %>
<% end %>
<div class="top-back-image">
  <div class="col-xs-12 col-md-12 col-xl-12">
    <div class="top-couteiner">
      <div class="top-title">
        <h1>江田島<br>空き家クエスト</h1>
        <h2 class="btn btn-info"><%= link_to '宝の山を探す', houses_path %></h2>
      </div>
    </div>
    <div class="cameraman">
      <a href="https://www.facebook.com/takita.ichiro/photos_all">Photo by Ichiro Takita</a>
    </div>
  </div>
</div>