<div class="header">
  <div class="logo">
    <%= image_tag asset_path "etajima.svg" %>
  </div>
  <h1>江田島空き家マッチングサービス</h1>
</div>
<div class="main-picture">
</div>
<div class="container">
  <div class="content">
    <%= link_to '空き家一覧はこちら', houses_path %>
  </div>
</div>


