<%= form_for(@message, url: choose_new_or_edit ) do |f| %>
  <div class="message_body col-md-8 col-md-offset-2 col-sm-10">
    <%= f.hidden_field :user_id, value: params[:user_id] %>
    <%= f.text_area :body %>
    <br>
    <div class="message_body_btn">
      <%= f.submit '送信', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>