<script>
  $(window).load(function(){
    $("#comment").wysihtml5();
  });
</script>
<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h1>Houses#new</h1>
    <p>Find me in app/views/houses/new.html.erb</p>
    <div id="comment"></div>
  </div>
</div>