.house-story > h2 {
   position: relative;
   border: none;
   font-size: 1.25em;
   padding: 0.8em 1.1em;
   margin-top: 2.1em;
   margin-bottom: 1em;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   background: #13acca;
   color: #f0f8ff;
   box-shadow: 0 1px 5px rgba(0, 0, 0, .03);
}

.house-story > h3 {
    position: relative;
    color: #111;
    font-size: 1.143em;
    font-weight: bold;
    margin: 0 0 1.5em;
    padding: 0.5em 0.5em 0.5em 1.7em;
    border-bottom: 3px solid #13acca;
}

img.index-image {
  margin-right: 15px;
  width: 260px;
  float: left;
}

.show-images {
  display: inline-block;
  background-color: #EBE5DD;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.show-image {
  display: inline-block;
  margin: 2px;
  width: 47%;
  float: center;
}

.madori {
  width:100%;
}

.page-top-btn {
  display: block;
  background: image-url('zarigani.png') no-repeat;
  background-size: 100%;
  width: 40px;
  height: 80px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 60px;
  bottom: 30px;
  z-index: 20;
  &:hover {
  opacity: 0.7;
  }
}

#detail-map {
  width: 100%;
  height: 400px;
  margin: 5px;
}

#map_all {
  width: 100%;
  height: 400px;
}

.house-spec {
  margin-top: 30px;
}

.house-spec th {
  width: 120px;
  background-color: #EBE5DD;
}

.show-header {
  display: inline-block;
}

.show-header > h4 {
  display: block;
}

.index-house {
  position: relative;
  border-radius: 6px;
  border: solid 1px #dedede;
  box-shadow: 0 3px 0 0 rgba(0,0,0,.01), 0 2px 0 0 rgba(0,0,0,.03), 0 1px 0 0 rgba(0,0,0,.05);
  background-color: #fff;
  margin: 10px 0px 0px 0px;
  padding: 0px;
  overflow: hidden;
}

.index-house-header {
  padding: 3px 3px 0px 10px;
  text-align: left;
  background-color: #EBE5DD;
}

.index-house-header > li > h4 {
  text-shadow: #fffafa 1px 1px 0px, #fffafa -1px 1px 0px,
             #fffafa 1px -1px 0px, #fffafa -1px -1px 0px;
}

.index-house-body {
  padding: 0px 0px 0px 0px;
  text-align: left;
  // overflow: hidden;
}

.index-house-body-left {
  width:35%;
  height: 150px;
  display: block;
}

.index-house-body-right {
  width:55%;
  height: 150px;
}

.index-house-text > p {
  margin: 0px;
}

.house-buttons-field {
  border-top: solid 1px #EBE5DD;
  padding: 8px 20px 15px 20px;
  min-height: 50px;
}

.link_button-field {
  float: right;
}

.favorite_button-field {
  padding-top: 7px;
}

.message_btn_filed {
  margin: 20px 0px;
  text-align: center;
}

.user_login_button_filed {
  margin: 20px 0px;
  text-align: center;
}

#detail-map {
  margin-bottom: 20px;
}

.table {
  margin-bottom: 0px;
}
