#message_body {
  height: 200px !important;
}

.message_body {
  padding-right: 0px;
  margin-top: 30px;
  overflow: hidden;
  text-align: center;
}

.message_body_btn {
  float: right;
}

div[class*="messages_user_"] {
  height: auto;
  margin-top: 15px;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
  word-wrap: break-word;
  border: 1px solid #cccccc;
}

div[class*="messages_admin"] {
  height: auto;
  margin-top: 15px;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
  word-wrap: break-word;
  border: 1px solid #cccccc;
}
