#message_body {
  width: 460px;
  height: 230px !important;
}

.message_body {
  padding-right: 0px;
  margin-top: 30px;
  overflow: hidden;
  text-align: center;
}

.message_body_btn {
  float: right;
}

div[class*="messages_user_"] {
  margin: 15px 0px 15px 400px;
  height: auto;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
  word-wrap: break-word;
  border: 1px solid #cccccc;
  width: 500px;
}

div[class*="messages_admin"] {
  margin: 15px 400px 15px 0px;
  height: auto;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
  word-wrap: break-word;
  border: 1px solid #cccccc;
  width: 500px;
}
