.main-picture {
  height: 1000px;
  background-size: cover;
  background: url('top-image.jpg') no-repeat;
}
.header {
  height: 100%;
  text-align: center;
  padding: 20px;
  background-color: #86BDE2;
}
.header > h1 {
  font-size: 60px;
  color: #FFFFFF;
  margin: 0;
}
.content {
  height: 200px;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}