body.top {
    background-image: url(top-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.top-couteiner {
  margin: auto;
  padding: 100px 20px 200px 20px;
  @media (max-width: 768px) {
  padding: 100px 0px 100px 0px;
  }
}

.top-title {
  margin: auto;
  margin-top: 100px;
  padding: 20px 0px 20px 0px;
  width: 80%;
  background-color: rgba(80,90,83,0.4);
  @media (max-width: 768px) {
  width: 100%;
  }
}

.top-title h1 {
  margin: auto;
  font-size: 6.0em;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px #000;
  @media (max-width: 768px) {
  font-size: 5.0em;
  }
  @media (max-width: 420px) {
  font-size: 3.0em;
  }
}

.top-title h1:after {
  display: inline-block;
  width: 100px;
  height: 96px;
  background: image-url('zarigani.png') 0 0 no-repeat transparent;
  position: absolute;
  content: '';
  background-size: contain;
  @media (max-width: 420px) {
  width: 50px;
  height: 48px;
  }
}

.top-title h2 {
  margin: auto;
  margin-top: 50px;
  padding: 15px 20px 15px 20px;
  font-size: 2.2em;
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px #333333;
  box-shadow: 0px 7px 0px rgba(19,74,99,1);
}

.top-title h2:active {
  box-shadow: none;
  transform: translate3d(0, 5px, 0);
}

.top-title a {
  color: #FFFFFF;
}


.cameraman {
  color: #FFFFFF;
  text-align: center;
  z-index: 20;
}

.cameraman > a {
  color: #FFFFFF;
}

.cameraman > a:hover {
  color: #FF3F0B;
}
