.favorite_panel {
   margin-top: 25px;
 }

.user_panel {
  margin-top: 25px;
  overflow: hidden;
}

a:hover, a:focus {
  text-decoration: none;
}

#root-sub-header {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  background: #FED100;
  position: relative;
}

#root-sub-header p {
  margin-bottom: 0px;
}

#root-sub-header a {
  color: #000000;
  text-decoration: none;
}

#root-sub-header a:hover, a:focus {
  color: #9a9a9a;
}

.user_panel {
  word-wrap: break-word;
}

.user_panel hr {
  margin-top: 8px;
  margin-bottom: 12px;
}

.user_panel a.btn.btn-primary {
  float: right;
}

.user_panel .panel {
  margin-bottom: 10px;
}

.edit_filed .wrapper.col-md-6.col-md-offset-3.col-sm-6 {
  background-color: #f7f7f7;
  padding: 20px 30px 30px 30px;
  border-radius: 7px;
  margin-top: 20px;
}